In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('Telco-Customer-Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [5]:
yeschurn = df.loc[df['Churn'] == 'Yes']
nochurn = df.loc[df['Churn'] == 'No']

# Distribution of Gender between Yes and No Churn

In [19]:
yeschurn.gender.value_counts().reset_index().rename(columns={'index': 'Gender', 0: 'count'})

   Gender  gender
0  Female     939
1    Male     930

In [29]:
nochurn.gender.value_counts().reset_index().rename(columns={'index': 'Gender', 0: 'count'})

   Gender  gender
0    Male    2625
1  Female    2549

# Distribution of Senior Citizen between Yes and No Churn

In [30]:
yeschurn.gender.value_counts().reset_index().rename(columns={'index': 'Gender', 0: 'count'})

   Gender  gender
0  Female     939
1    Male     930

In [31]:
nochurn.gender.value_counts().reset_index().rename(columns={'index': 'Gender', 0: 'count'})

   Gender  gender
0    Male    2625
1  Female    2549

# Distribution of Partner between Yes and No Churn

In [20]:
yeschurn.Partner.value_counts().reset_index().rename(columns={'index': 'Partner', 0: 'count'})

   Partner  Partner
0       No     1200
1      Yes      669

In [32]:
nochurn.Partner.value_counts().reset_index().rename(columns={'index': 'Partner', 0: 'count'})

   Partner  Partner
0      Yes     2733
1       No     2441

# Distribution of Dependents between Yes and No Churn

In [21]:
yeschurn.Dependents.value_counts().reset_index().rename(columns={'index': 'Dependents', 0: 'count'})

   Dependents  Dependents
0          No        1543
1         Yes         326

In [33]:
nochurn.Dependents.value_counts().reset_index().rename(columns={'index': 'Dependents', 0: 'count'})

   Dependents  Dependents
0          No        3390
1         Yes        1784

# Distribution of Tenure between Yes and No Churn

In [23]:
yeschurn.tenure.value_counts().reset_index().rename(columns={'index': 'tenure', 0: 'count'})

    tenure  tenure
0        1     380
1        2     123
2        3      94
3        4      83
4        5      64
..     ...     ...
67      60       6
68      72       6
69      62       5
70      64       4
71      63       4

[72 rows x 2 columns]

In [34]:
nochurn.tenure.value_counts().reset_index().rename(columns={'index': 'tenure', 0: 'count'})

    tenure  tenure
0       72     356
1        1     233
2       71     164
3        2     115
4       70     108
..     ...     ...
68      44      45
69      28      45
70      39      42
71      36      40
72       0      11

[73 rows x 2 columns]

# Distribution of Phone Service between Yes and No Churn

In [24]:
yeschurn.PhoneService.value_counts().reset_index().rename(columns={'index': 'PhoneService', 0: 'count'})

   PhoneService  PhoneService
0           Yes          1699
1            No           170

In [35]:
nochurn.PhoneService.value_counts().reset_index().rename(columns={'index': 'PhoneService', 0: 'count'})

   PhoneService  PhoneService
0           Yes          4662
1            No           512

# Distribution of MultipleLines between Yes and No Churn

In [25]:
yeschurn.MultipleLines.value_counts().reset_index().rename(columns={'index': 'MultipleLines', 0: 'count'})

      MultipleLines  MultipleLines
0               Yes            850
1                No            849
2  No phone service            170

In [36]:
nochurn.MultipleLines.value_counts().reset_index().rename(columns={'index': 'MultipleLines', 0: 'count'})

      MultipleLines  MultipleLines
0                No           2541
1               Yes           2121
2  No phone service            512

# Distribution of Internet Service between Yes and No Churn

In [26]:
yeschurn.InternetService.value_counts().reset_index().rename(columns={'index': 'InternetService', 0: 'count'})

   InternetService  InternetService
0      Fiber optic             1297
1              DSL              459
2               No              113

In [37]:
nochurn.InternetService.value_counts().reset_index().rename(columns={'index': 'InternetService', 0: 'count'})

   InternetService  InternetService
0              DSL             1962
1      Fiber optic             1799
2               No             1413

# Distribution of Online Security between Yes and No Churn

In [27]:
yeschurn.OnlineSecurity.value_counts().reset_index().rename(columns={'index': 'OnlineSecurity', 0: 'count'})

        OnlineSecurity  OnlineSecurity
0                   No            1461
1                  Yes             295
2  No internet service             113

In [38]:
nochurn.OnlineSecurity.value_counts().reset_index().rename(columns={'index': 'OnlineSecurity', 0: 'count'})

        OnlineSecurity  OnlineSecurity
0                   No            2037
1                  Yes            1724
2  No internet service            1413

# Distribution of Online Backup between Yes and No Churn

In [28]:
yeschurn.OnlineBackup.value_counts().reset_index().rename(columns={'index': 'OnlineBackup', 0: 'count'})

          OnlineBackup  OnlineBackup
0                   No          1233
1                  Yes           523
2  No internet service           113

In [39]:
nochurn.OnlineBackup.value_counts().reset_index().rename(columns={'index': 'OnlineBackup', 0: 'count'})

          OnlineBackup  OnlineBackup
0                  Yes          1906
1                   No          1855
2  No internet service          1413

# Distribution of Device Protection between Yes and No Churn

In [6]:
yeschurn.DeviceProtection.value_counts().reset_index().rename(columns={'index': 'DeviceProtection', 0: 'count'})

      DeviceProtection  DeviceProtection
0                   No              1211
1                  Yes               545
2  No internet service               113

In [7]:
nochurn.DeviceProtection.value_counts().reset_index().rename(columns={'index': 'DeviceProtection', 0: 'count'})

      DeviceProtection  DeviceProtection
0                   No              1884
1                  Yes              1877
2  No internet service              1413

# Distribution of Tech Support  between Yes and No Churn

In [8]:
yeschurn.TechSupport.value_counts().reset_index().rename(columns={'index': 'TechSupport', 0: 'count'})

           TechSupport  TechSupport
0                   No         1446
1                  Yes          310
2  No internet service          113

In [8]:
nochurn.TechSupport.value_counts().reset_index().rename(columns={'index': 'TechSupport', 0: 'count'})

           TechSupport  TechSupport
0                   No         2027
1                  Yes         1734
2  No internet service         1413

# Distribution of Streaming Movies  between Yes and No Churn

In [9]:
yeschurn.StreamingMovies.value_counts().reset_index().rename(columns={'index': 'StreamingMovies', 0: 'count'})

       StreamingMovies  StreamingMovies
0                   No              938
1                  Yes              818
2  No internet service              113

In [9]:
nochurn.StreamingMovies.value_counts().reset_index().rename(columns={'index': 'StreamingMovies', 0: 'count'})

       StreamingMovies  StreamingMovies
0                  Yes             1914
1                   No             1847
2  No internet service             1413

# Distribution of Contract between Yes and No Churn

In [10]:
yeschurn.Contract.value_counts().reset_index().rename(columns={'index': ' Contract', 0: 'count'})

         Contract  Contract
0  Month-to-month      1655
1        One year       166
2        Two year        48

In [10]:
nochurn.Contract.value_counts().reset_index().rename(columns={'index': ' Contract', 0: 'count'})

         Contract  Contract
0  Month-to-month      2220
1        Two year      1647
2        One year      1307

# Distribution of Paperless Billing between Yes and No Churn

In [11]:
yeschurn.PaperlessBilling.value_counts().reset_index().rename(columns={'index': ' PaperlessBilling', 0: 'count'})

   PaperlessBilling  PaperlessBilling
0               Yes              1400
1                No               469

In [11]:
nochurn.PaperlessBilling.value_counts().reset_index().rename(columns={'index': ' PaperlessBilling', 0: 'count'})

   PaperlessBilling  PaperlessBilling
0               Yes              2771
1                No              2403

# Distribution of Payment Method between Yes and No Churn

In [12]:
yeschurn.PaymentMethod.value_counts().reset_index().rename(columns={'index': ' PaymentMethod', 0: 'count'})

               PaymentMethod  PaymentMethod
0           Electronic check           1071
1               Mailed check            308
2  Bank transfer (automatic)            258
3    Credit card (automatic)            232

In [12]:
nochurn.PaymentMethod.value_counts().reset_index().rename(columns={'index': ' PaymentMethod', 0: 'count'})

               PaymentMethod  PaymentMethod
0               Mailed check           1304
1           Electronic check           1294
2    Credit card (automatic)           1290
3  Bank transfer (automatic)           1286

# Distribution of Monthly Charges between Yes and No Churn

In [13]:
yeschurn.MonthlyCharges.value_counts().reset_index().rename(columns={'index': 'MonthlyCharges', 0: 'count'})

     MonthlyCharges  MonthlyCharges
0             74.40              13
1             74.90               9
2             74.95               8
3             45.30               8
4             70.15               7
..              ...             ...
905           29.50               1
906           24.60               1
907           68.25               1
908           87.45               1
909           44.20               1

[910 rows x 2 columns]

In [14]:
nochurn.MonthlyCharges.value_counts().reset_index().rename(columns={'index': 'MonthlyCharges', 0: 'count'})

      MonthlyCharges  MonthlyCharges
0              20.05              58
1              19.70              41
2              19.95              41
3              19.85              40
4              19.90              40
...              ...             ...
1455           68.35               1
1456          107.65               1
1457           84.55               1
1458           26.90               1
1459           78.70               1

[1460 rows x 2 columns]

# Distribution of Total Charges between Yes and No Churn

In [15]:
yeschurn.TotalCharges.value_counts().reset_index().rename(columns={'index': 'TotalCharges', 0: 'count'})

      TotalCharges  TotalCharges
0             20.2             6
1             45.3             5
2            69.65             4
3            20.15             4
4             19.9             4
...            ...           ...
1727        1445.3             1
1728        141.45             1
1729        512.45             1
1730         777.3             1
1731         306.6             1

[1732 rows x 2 columns]

In [16]:
nochurn.TotalCharges.value_counts().reset_index().rename(columns={'index': 'TotalCharges', 0: 'count'})

      TotalCharges  TotalCharges
0                             11
1            19.75             7
2            20.05             6
3            19.55             6
4            19.65             6
...            ...           ...
4961        2117.2             1
4962        203.95             1
4963        6849.4             1
4964          85.5             1
4965        6844.5             1

[4966 rows x 2 columns]